body{
    border: 20px solid #bdc3c7;
    padding-left: 1%;
    margin:  20px 20% 0 20%;
    max-width: 700px;
    width: 80%;
    padding-right: 2%;
}
h3{
    color: #3498db;
    letter-spacing: 2px;
}
h2{
    color: #2c3e50;
}
p{
    font-family:'Source Sans Pro', sans-serif;
}
p:nth-of-type(1){
    border-left: 3px solid #bdc3c7 ;
    padding-left: 6px;
   
}
div:nth-of-type(1){
    border-bottom: 1px solid #bdc3c7;
}